@import "tailwindcss";
@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: 'Inter', sans-serif;
  --font-mono: 'JetBrains Mono', monospace;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-status-draft: var(--status-draft);
  --color-status-published: var(--status-published);
  --color-status-archived: var(--status-archived);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --font-serif: 'Playfair Display', serif;
  --radius: 0.5rem;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --shadow-2xl: var(--shadow-2xl);
  --shadow-xl: var(--shadow-xl);
  --shadow-lg: var(--shadow-lg);
  --shadow-md: var(--shadow-md);
  --shadow: var(--shadow);
  --shadow-sm: var(--shadow-sm);
  --shadow-xs: var(--shadow-xs);
  --shadow-2xs: var(--shadow-2xs);
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --shadow-color: var(--shadow-color);
  --color-destructive-foreground: var(--destructive-foreground);
}

:root {
  --radius: 0.5rem;
  --background: oklch(0.9702 0 0);
  --foreground: oklch(0.2178 0 0);
  --card: oklch(0.9702 0 0);
  --card-foreground: oklch(0.2178 0 0);
  --popover: oklch(0.9702 0 0);
  --popover-foreground: oklch(0.2178 0 0);
  --primary: oklch(0.6456 0.1131 213.3445);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.9067 0 0);
  --secondary-foreground: oklch(0.2178 0 0);
  --muted: oklch(0.9551 0 0);
  --muted-foreground: oklch(0.5510 0.0234 264.3637);
  --accent: oklch(0.9675 0.0128 202.9244);
  --accent-foreground: oklch(0.6456 0.1131 213.3445);
  --destructive: oklch(0.5449 0.2091 27.8466);
  --border: oklch(0.5510 0.0270 264.3640);
  --input: oklch(0.5510 0.0270 264.3640);
  --ring: oklch(0.6456 0.1131 213.3445);
  --chart-1: oklch(0.6456 0.1131 213.3445);
  --chart-2: oklch(0.8442 0.1722 84.9338);
  --chart-3: oklch(0.6731 0.1624 144.2083);
  --chart-4: oklch(0.6427 0.2153 28.8057);
  --chart-5: oklch(0.6582 0.1690 248.8135);
  --status-draft: oklch(0.8442 0.1722 84.9338);
  --status-published: oklch(0.6456 0.1131 213.3445);
  --status-archived: oklch(0.5510 0.0270 264.3640);
  --sidebar: oklch(0.9702 0 0);
  --sidebar-foreground: oklch(0.2178 0 0);
  --sidebar-primary: oklch(0.6456 0.1131 213.3445);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.9675 0.0128 202.9244);
  --sidebar-accent-foreground: oklch(0.6456 0.1131 213.3445);
  --sidebar-border: oklch(0.5510 0.0270 264.3640);
  --sidebar-ring: oklch(0.6456 0.1131 213.3445);
  --destructive-foreground: oklch(1.0000 0 0);
  --font-sans: 'Inter', sans-serif;
  --font-serif: 'Playfair Display', serif;
  --font-mono: 'JetBrains Mono', monospace;
  --shadow-color: transparent;
  --shadow-opacity: 0;
  --shadow-blur: 0px;
  --shadow-spread: 0;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 0px;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 0px 0px 0px 0 hsl(0 0% 0% / 0.00);
  --shadow-xs: 0px 0px 0px 0 hsl(0 0% 0% / 0.00);
  --shadow-sm: 0px 0px 0px 0 hsl(0 0% 0% / 0.00), 0px 1px 2px -1px hsl(0 0% 0% / 0.00);
  --shadow: 0px 0px 0px 0 hsl(0 0% 0% / 0.00), 0px 1px 2px -1px hsl(0 0% 0% / 0.00);
  --shadow-md: 0px 0px 0px 0 hsl(0 0% 0% / 0.00), 0px 2px 4px -1px hsl(0 0% 0% / 0.00);
  --shadow-lg: 0px 0px 0px 0 hsl(0 0% 0% / 0.00), 0px 4px 6px -1px hsl(0 0% 0% / 0.00);
  --shadow-xl: 0px 0px 0px 0 hsl(0 0% 0% / 0.00), 0px 8px 10px -1px hsl(0 0% 0% / 0.00);
  --shadow-2xl: 0px 0px 0px 0 hsl(0 0% 0% / 0.00);
  --tracking-normal: 0em;
}

.dark {
  --background: oklch(0.2178 0 0);
  --foreground: oklch(0.9067 0 0);
  --card: oklch(0.2768 0 0);
  --card-foreground: oklch(0.9067 0 0);
  --popover: oklch(0.2768 0 0);
  --popover-foreground: oklch(0.9067 0 0);
  --primary: oklch(0.6456 0.1131 213.3445);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.3677 0 0);
  --secondary-foreground: oklch(0.9067 0 0);
  --muted: oklch(0.3211 0 0);
  --muted-foreground: oklch(0.7137 0.0192 261.3246);
  --accent: oklch(0.3876 0.0641 213.4896);
  --accent-foreground: oklch(0.6456 0.1131 213.3445);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --border: oklch(0.4276 0 0);
  --input: oklch(0.3407 0 0);
  --ring: oklch(0.6456 0.1131 213.3445);
  --chart-1: oklch(0.6456 0.1131 213.3445);
  --chart-2: oklch(0.8868 0.1822 95.3305);
  --chart-3: oklch(0.7185 0.1417 144.8887);
  --chart-4: oklch(0.7124 0.1848 37.7682);
  --chart-5: oklch(0.7482 0.1235 244.7492);
  --status-draft: oklch(0.8442 0.1722 84.9338);
  --status-published: oklch(0.6456 0.1131 213.3445);
  --status-archived: oklch(0.5510 0.0270 264.3640);
  --sidebar: oklch(0.2178 0 0);
  --sidebar-foreground: oklch(0.9067 0 0);
  --sidebar-primary: oklch(0.6456 0.1131 213.3445);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.3876 0.0641 213.4896);
  --sidebar-accent-foreground: oklch(0.6456 0.1131 213.3445);
  --sidebar-border: oklch(0.4276 0 0);
  --sidebar-ring: oklch(0.6456 0.1131 213.3445);
  --destructive-foreground: oklch(1.0000 0 0);
  --radius: 0.5rem;
  --font-sans: 'Inter', sans-serif;
  --font-serif: 'Playfair Display', serif;
  --font-mono: 'JetBrains Mono', monospace;
  --shadow-color: transparent;
  --shadow-opacity: 0;
  --shadow-blur: 0px;
  --shadow-spread: 0;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 0px;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 0px 0px 0px 0 hsl(0 0% 0% / 0.00);
  --shadow-xs: 0px 0px 0px 0 hsl(0 0% 0% / 0.00);
  --shadow-sm: 0px 0px 0px 0 hsl(0 0% 0% / 0.00), 0px 1px 2px -1px hsl(0 0% 0% / 0.00);
  --shadow: 0px 0px 0px 0 hsl(0 0% 0% / 0.00), 0px 1px 2px -1px hsl(0 0% 0% / 0.00);
  --shadow-md: 0px 0px 0px 0 hsl(0 0% 0% / 0.00), 0px 2px 4px -1px hsl(0 0% 0% / 0.00);
  --shadow-lg: 0px 0px 0px 0 hsl(0 0% 0% / 0.00), 0px 4px 6px -1px hsl(0 0% 0% / 0.00);
  --shadow-xl: 0px 0px 0px 0 hsl(0 0% 0% / 0.00), 0px 8px 10px -1px hsl(0 0% 0% / 0.00);
  --shadow-2xl: 0px 0px 0px 0 hsl(0 0% 0% / 0.00);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }

    /* 3. SHADCN TİPOGRAFİ STİLLERİ (Base Layer'a Eklendi) */
  h1 {
    @apply scroll-m-20 text-3xl font-extrabold tracking-tight lg:text-4xl;
  }
  h2 {
    @apply scroll-m-20 border-b pb-2 text-3xl font-semibold tracking-tight first:mt-0 border-none;
  }
  h3 {
    @apply scroll-m-20 text-2xl font-semibold tracking-tight;
  }
  h4 {
    @apply scroll-m-20 text-xl font-semibold tracking-tight;
  }
 
  blockquote {
    @apply mt-6 border-l-2 pl-6 italic;
  }
  ul {
    @apply my-6 ml-6 list-disc [&>li]:mt-2;
  }
  code {
    @apply relative rounded bg-muted px-[0.3rem] py-[0.2rem] font-mono text-sm font-semibold;
  }

  small {
    @apply text-xs leading-none font-medium;
  }
}
